/* Personal Website */

/*  Box Sizing
Every element on the page will use the border-box model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* General Custom Properties */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary:'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.30),
        0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
  --bs-Subtitle: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.10);
}

/* Custom Properties for 992px width or highter. Overrides the General Properties. */
 @media (min-width: 992px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%
}

section {
  padding: 5em 2em;
}

strong {
  font-weight: var(--fw-bold);
}

h1, h2, h3 {
  line-height: 1.0;
  margin: 0;
}

h1 { font-size: var(--fs-h1); }

h2 { font-size: var(--fs-h2); }

h3 { font-size: var(--fs-h3); }

.Title {
  margin-bottom: .25em;
}

.Subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


.Button {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.Button:hover {
  transform: scale(1.1);
}

/* Navigation Section */

nav { display: none; }

/* Home Section */

#Home-Title {
  font-weight: var(--fw-reg);
}

#Home-Title strong {
  display: block; /* Start on new line and take up whole width */
}

#Home-Subtitle{
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.25em 1em;
}

#Home-Profile-Picture {
  box-shadow: var(--bs);
  /* width: auto;
  height: auto; */
}

.Home {
  position: relative;
}

  /* Specific Screen Sizes */
@media (max-width: 600px) {
  #Home-Title {
    text-align: center;
  }

  #Home-Subtitle {
    text-align: center;
  }

  #Home-Profile-Picture {
    box-shadow: var(--bs);
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 600px) {
  .Home {
    display: grid;
    width: min-content; /* Width of the grid is the smallest it can be without overflow of text */
    margin: 0 auto;
    grid-column-gap: 2em;
    grid-template-areas:
      "Image Title"
      "Image Subtitle"; /* Not Used */
    grid-template-columns: min-content max-content;
  }

  #Home-Profile-Picture {
    grid-area: Image;
    min-width: 250px;
    position: relative;
    z-index: 2; /* Position in front. */

    border: 2px solid black;
  }

  #Home-Title {
    grid-area: Title;
    font-weight: var(--fw-reg);
    padding-top: 20%;
    position: relative;
  }

  #Home-Subtitle {
    z-index: 1;
    text-align: right;
    grid-column: -1/1;
    grid-row: 2;

    padding-right: 16.5%;

    position: absolute;
    left: -1.5em;
    right: 0em;
    box-shadow: var(--bs-Subtitle);
  }
}

@media (min-width: 992px) {
  .Home {
    display: grid;
    width: min-content; /* Width of the grid is the smallest it can be without overflow of text */
    margin: 0 auto;
    grid-column-gap: 2em;
    grid-template-areas:
      "Image Title"
      "Image Subtitle"; /* Not Used */
    grid-template-columns: min-content max-content;
  }

  #Home-Profile-Picture {
    grid-area: Image;
    min-width: 250px;
    position: relative;
    z-index: 2; /* Position in front. */

    border: 2px solid black;
  }

  #Home-Title {
    grid-area: Title;
    font-weight: var(--fw-reg);
    padding-top: 12%;
    position: relative;
  }

  #Home-Subtitle {
    z-index: 1;
    text-align: right;
    grid-column: -1/1;
    grid-row: 2;

    padding-right: 27.4%;

    position: absolute;
    left: -1.5em;
    right: 0em;
    box-shadow: var(--bs-Subtitle);
  }
}

/* My Interests Section */

.My-Interests {
   background-color: var(--clr-dark);
   background-image: url(Image-Background.jpg);
   background-size: cover;
   background-blend-mode: multiply;
   color: var(--clr-light);
   text-align: center;
}

.Interests {
  margin-bottom: 4em;
}

#My-Interests-Title {
  color: var(--clr-accent);
  position: relative;
}

/* Underline under the Title text - Decoration */
#My-Interests-Title::after {
  content: '';
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.My-Interests-Subtitle {
    max-width: 500px;
    margin: 0 auto;
}

@media (max-width: 800px) {
   .My-Interests-Subtitle {
     padding-top: 1em;
  }
}

@media (min-width: 800px) {
   .Interests {
    display: flex;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .My-Interests-Subtitle + .My-Interests-Subtitle {
    margin-Left: 2em;
  }

  .My-Interests-Image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 70%;
    height: auto%;
  }
}

#My-Interests-Subtitle-Main {
  color: rgba(0, 255, 132,1);
}

/*  Who-I-Am Section */

#Who-I-Am-Title{

}

#Who-I-Am-Subtitle{
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: .25em 1em;
}


/* Home - My Interests - Who I Am - My Journey - Contact Me */
